body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

@keyframes jump {
    0% { transform: translateY(0); }
    50% { transform: translateY(-500px); } /* Ajusta la altura del salto */
    100% { transform: translateY(0); }
}

#Willy.jumping {
    animation: jump 0.5s ease-in-out;
}

#Willa.jumping {
    animation: jump 0.5s ease-in-out;
}

#Willy {
    position: fixed;
    left: 10vw;
    width: 15vw;
    height: auto;
    display: flex;
    bottom: 0;
}

#Willa {
    position: fixed;
    left: 10vw;
    width: 15vw;
    height: auto;
    display: flex;
    bottom: 0;
}

#obstáculos-container {
    background-color: rgb(50, 36, 2);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    z-index: -1;
    overflow: hidden;
}

@keyframes obstaculo {
    0% {
        left: calc(100% + 10vw); /* Inicia fuera de la pantalla por la derecha */
    }
    100% {
        left: -10vw; /* Termina fuera de la pantalla por la izquierda */
    }
}

#obst {
    animation-name: obstaculo;
    animation-duration: 3s;
    bottom: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    display: flex;
    align-items: center;
    width: 4vw;
    height: 15vh;
    background-image: url("animacion/LABIAL.png");
    background-size: cover;
    position: absolute;
    top: 90vh;
    left: 100vw;
}

/* 
#obst {
    position: absolute;
    bottom: 0;
    left: 100%;
    width: 4vw;
    height: 20vh;
    background-image: url('animación/LABIAL.png');
    background-size: cover;
    animation: moveObstacle 2s linear infinite;
}

#obst {
    position: absolute;
    bottom: 0;
    left: 10vw;
    width: 10vw;
    height: 20vh;
    background-size: cover;
    transition: width 0.5s ease;
} */

#fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url('animacion/fondo_000.jpg');
    background-size: cover;
    z-index: -1;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    #Willy {
        width: 20vw;
    }

    #Willa {
        width: 20vw;
    }

    #obst {
        width: 7vw;
    }
}

@media (max-width: 480px) {
    #Willy {
        width: 25vw;
    }

    #Willa {
        width: 25vw;
    }

    #obst {
        width: 7vw;
    }
}


#reset-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}